<p id="notice"><%= notice %></p>
<h1> Post</h1>
<div class="field">
  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>
</div>

<div style="width:400px; height:auto">
<%= image_tag(@post.image) if @post.image.attached? %>
    <!--#%#= link_to image_tag(@post.image, style:'width:100%'), posts_path %> -->

</div>

<div class="field">
  <p>
    <strong>Content:</strong>
    <%= @post.content %>
  </p>
</div>

<div class="field">
    <p>
      <strong>User:</strong>
      <%= @post.user.name %>
    </p>
</div>
<!-- if this post has comments, it will display them -->
<% if @post.comments.present? %>
  <div id="comments">
    <h1>Comments:</h1>
  <!-- The `comments` method returns an array-like collection, so we can call `each` on it: -->
    <%= render @post.comments %>
  </div>
<% end %>

<div class="container">
  <h3> Add a Comment to this post: </h3>
  <%= render :partial => "comments/form", locals: {comment: @post.comments.new} %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
